[submodule "tutorials"]
	path = tutorials
	url = git@github.com:edynsoncoronado/tutorials.git
[submodule "odoo"]
	path = odoo
	url = git@github.com:edynsoncoronado/odoo.git
[submodule "odoo-tutorials/odoo"]
	path = odoo-tutorials/odoo
	url = git@github.com:edynsoncoronado/odoo.git
